<footer id="footer" class="wet-asphalt">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2015 <a target="_blank" href="#" title="Yaxin Huang - RecipesCom">RecipesCom</a>. All Rights Reserved.
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Me</a></li>
                    <li><a href="https://shapebootstrap.net/item/1524965-flat-theme-free-responsive-multipurpose-site-template">Template Source</a></li>
                    <!-- GO TO TOP: The href need to change according to page url -->
                    <li><a id="gototop" class="gototop" href="#navHeader"><i class="icon-chevron-up"></i></a></li><!--#gototop-->
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->