<h1> Forms </h1>
<ul class="nav nav-tabs">
    <li class="active"><a href="#/form">Forms</a></li>
    <li><a>Fields</a></li>
</ul>

<div class="tab-content">
    <div id="forms" class="tab-pane fade in active">
        <!-- The "Forms" tab -->
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span>Form Name</th>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input ng-model="inputFormName" type="text" class="form-control" id="formname" placeholder="name"></td>
                <td><button ng-click="addForm()" type="button" class="btn btn-success glyphicon glyphicon-plus"></button>
                    <button ng-click="updateForm()" type="button" class="btn btn-warning glyphicon glyphicon-ok"></button></td>
            </tr>
            <tr ng-repeat="form in forms">
                <td>{{form.name}}</td>
                <td><button ng-click="deleteForm($index)" type="button" class="btn btn-danger glyphicon glyphicon-remove"></button>
                    <button ng-click="selectForm($index)" type="button" class="btn btn-warning glyphicon glyphicon-pencil"></button></td>
            </tr>
            </tbody>

        </table>
    </div>
    <div id="fields" class="tab-pane fade">

    </div>
</div>