<section id="title" class="emerald">
    <div class="container">
        <div class="gap"></div>
        <div class="row">
            <div class="col-sm-6">
                <h1>Styles</h1>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="#/">Home</a></li>
                    <li><a>Browse by..</a></li>
                    <li><a href="#/browse/style">Styles</a></li>
                    <li class="active"><a href="#/browse/style/American">{{someStyle}}</a></li>
                </ul>
            </div>
        </div>
        <div class="gap"></div>
    </div>
</section><!--/#title-->

<section>
    <!-- number of recipes shown on each page: 6 -->
    <div class="container">
        <div class="gap"></div>
        <div ng-if="someStyleController.recipes.length < 1">
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Sorry, there is no recipes in this category.
            </div>
        </div>

        <div ng-if="someStyleController.recipes.length >= 1" class="row">
            <div class="col-md-4 center">
                <a ng-href="#/recipe/{{someStyleController.recipes[0]._id}}" class="thumbnail">
                    <h5>{{someStyleController.recipes[0].title}}</h5>
                    <img ng-src="{{someStyleController.recipes[0].img}}" alt="Pic of Recipe" style="width:150px;height:150px">
                </a>
            </div>
            <div ng-if="someStyleController.recipes.length >= 2" class="col-md-4 center">
                <a ng-href="#/recipe/{{someStyleController.recipes[1]._id}}" class="thumbnail">
                    <h5>{{someStyleController.recipes[1].title}}</h5>
                    <img ng-src="{{someStyleController.recipes[1].img}}" alt="Pic of Recipe" style="width:150px;height:150px">
                </a>
            </div>
            <div ng-if="someStyleController.recipes.length >= 3" class="col-md-4 center">
                <a ng-href="#/recipe/{{someStyleController.recipes[2]._id}}" class="thumbnail">
                    <h5>{{someStyleController.recipes[2].title}}</h5>
                    <img ng-src="{{someStyleController.recipes[2].img}}" alt="Pic of Recipe" style="width:150px;height:150px">
                </a>
            </div>
        </div>

        <div ng-if="someStyleController.recipes.length >= 4" class="row">
            <div ng-if="someStyleController.recipes.length >= 4" class="col-md-4 center">
                <a ng-href="#/recipe/{{someStyleController.recipes[3]._id}}" class="thumbnail">
                    <h5>{{someStyleController.recipes[3].title}}</h5>
                    <img ng-src="{{someStyleController.recipes[3].img}}" alt="Pic of Recipe" style="width:150px;height:150px">
                </a>
            </div>
            <div ng-if="someStyleController.recipes.length >= 5" class="col-md-4 center">
                <a ng-href="#/recipe/{{someStyleController.recipes[4]._id}}" class="thumbnail">
                    <h5>{{someStyleController.recipes[4].title}}</h5>
                    <img ng-src="{{someStyleController.recipes[4].img}}" alt="Pic of Recipe" style="width:150px;height:150px">
                </a>
            </div>
            <div ng-if="someStyleController.recipes.length >= 6" class="col-md-4 center">
                <a ng-href="#/recipe/{{someStyleController.recipes[5]._id}}" class="thumbnail">
                    <h5>{{someStyleController.recipes[5].title}}</h5>
                    <img ng-src="{{someStyleController.recipes[5].img}}" alt="Pic of Recipe" style="width:150px;height:150px">
                </a>
            </div>
        </div>
        <div ng-if="someStyleController.recipes.length >= 1">
            <nav>
                <ul class="pager">
                    <li ng-show="someStyleController.showPrev"><a ng-href="#/browse/style/{{someStyleController.style}}/{{someStyleController.page-1}}">Previous</a></li>
                    <li ng-show="someStyleController.showNext"><a ng-href="#/browse/style/{{someStyleController.style}}/{{someStyleController.page+1}}">Next</a></li>
                </ul>
            </nav>
        </div>
        <div class="gap"></div>
    </div>
</section>