<section id="title" class="pumkin">
    <div class="container">
        <div class="gap"></div>
        <div class="row">
            <div class="col-sm-4">
                <h1>{{recipeController.recipe.title}}</h1>
                <h2><small>Author:&nbsp;<a ng-href="#/profile/{{recipeController.author._id}}">{{recipeController.author.name}}</a></small></h2> <!-- For now, it's the author's ID -->
                <!-- Facebook -->
                <a ng-href="https://www.facebook.com/sharer/sharer.php?u=cs5610-huangyaxin.rhcloud.com/project/client/index.html#/recipe/{{recipeController.recipe._id}}" target="_blank">
                    <i class="fa fa-facebook"></i>&nbsp;Share on Facebook&nbsp;
                </a>
                <!-- Twitter -->
                <a ng-href="http://twitter.com/home?status=cs5610-huangyaxin.rhcloud.com/project/client/index.html#/recipe/{{recipeController.recipe._id}}" target="_blank">
                    <i class="fa fa-twitter"></i>&nbsp;Share on Twitter&nbsp;
                </a>

                <!-- Bookmark button -->
                <button ng-show="recipeController.showBookmark" ng-click="recipeController.bookmark()" type="button" class="btn btn-success glyphicon glyphicon-star-empty"></button>
                <!-- unbookmark button -->
                <button ng-show="recipeController.showUnbookmark" ng-click="recipeController.unbookmark()" type="button" class="btn btn-success glyphicon glyphicon-star"></button>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li><h2><small>
                        Tags:&nbsp;
                        <a ng-repeat="style in recipeController.recipe.style">{{style}}&nbsp;</a>
                        <a ng-repeat="mealtype in recipeController.recipe.mealtype">{{mealtype}}&nbsp;</a>
                    </small></h2>
                    </li>
                    <li><h2><small>
                        Prep Time:&nbsp; {{recipeController.recipe.time}}&nbsp;
                        <span ng-if="recipeController.recipe.unit == 'H'">hours</span>
                        <span ng-if="recipeController.recipe.unit == 'M'">minutes</span>
                        <span ng-if="recipeController.recipe.unit == 'S'">seconds</span>
                    </small></h2>
                    </li>
                    <li>
                        <h2><small>
                            Servings:&nbsp;{{recipeController.recipe.servings}}
                        </small></h2>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 pull-right">
                <img src="images/slider/bg1.jpg" class="img-thumbnail" height="300" width="300">
            </div>
        </div>
        <div class="gap"></div>
    </div>
</section><!--/#title-->

<section>
    <div class="gap"></div>
    <div class="container">

        <div class="col-sm-6">
            <h3>Ingredients</h3>
            <p>{{recipeController.recipe.ingredients}}</p>
            <hr>
            <h3>Steps</h3>
            <p>{{recipeController.recipe.steps}}</p>
            <hr>
            <!-- text area for comment -->
            <div ng-show="recipeController.isLoggedIn">
                <h3>Any Comments?</h3>
                <form>
                    <textarea ng-model="recipeController.commentSubmitted" class="form-control" rows="3" placeholder="Write a comment..."></textarea>
                    <br>
                    <button ng-click="recipeController.comment()" type="button" class="btn btn-primary pull-right">Comment</button>
                </form>
            </div>
        </div>
        <!-- COMMENTS ----------------------------------------------------->
        <div id="comments" class="col-sm-6">
            <h3>Comments</h3>
            <div ng-repeat="comment in recipeController.comments" class="media">
                <div class="pull-left">
                    <img class="avatar img-circle" src="images/blog/avatar1.png" alt="User image">
                </div>
                <div class="media-body">
                    <div class="well">
                        <div class="media-heading">
                            <!-- comment author and time -->
                            <strong><a ng-href="#/profile/{{comment.author_id}}">{{comment.author_name}}</a></strong>&nbsp; <small>{{comment.time.toLocaleDateString()}}</small>
                            <a ng-click="recipeController.replyComment(comment.author)" class="pull-right"><span class="glyphicon glyphicon-repeat"></span> Reply</a>
                        </div>
                        <!-- comment content (ant replyto) -->
                        <p><strong><a ng-href="#/profile/{{comment.replyto_id}}" ng-if="comment.replyto != null && comment.replyto != ''">@{{comment.replyto_name}}:&nbsp;</a></strong>
                            {{comment.content}}</p>
                    </div>
                </div>
            </div><!--/.media-->
        </div>
    </div>
    <div class="gap"></div>
</section>