<section id="title" class="pumkin">
    <div class="container">
        <div class="gap"></div>
        <div class="row">
            <div class="col-sm-4">
                <h1>{{recipe.title}}</h1>
                <h2><small>Author:&nbsp;{{recipe.author}}</small></h2> <!-- For now, it's the author's ID -->
                <!-- Twitter -->
                <button href="http://twitter.com/home?status=" title="Share on Twitter" target="_blank" class="btn btn-twitter" type="button"><i class="fa fa-twitter"></i></button>
                <!-- Facebook -->
                <button href="https://www.facebook.com/sharer/sharer.php?u=" title="Share on Facebook" target="_blank" class="btn btn-facebook" type="button"><i class="fa fa-facebook"></i></button>
                <!-- Bookmark -->
                <button type="button" class="btn btn-success glyphicon glyphicon-star-empty"></button>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li><h2><small>
                        Tags:&nbsp;
                        <a ng-repeat="tag in recipe.tags">{{tag}}&nbsp;</a>
                    </small></h2>
                    </li>
                    <li><h2><small>
                        Prep Time:&nbsp; {{recipe.prepTime}}&nbsp;
                        <span ng-if="recipe.prepTimeUnit == 'm'">mins</span>
                        <span ng-if="recipe.prepTimeUnit == 'h'">hours</span>
                    </small></h2>
                    </li>
                    <li>
                        <h2><small>
                            Servings:&nbsp;{{recipe.servings}}
                        </small></h2>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 pull-right">
                <img src="images/slider/bg1.jpg" class="img-thumbnail" height="300" width="300">
            </div>
        </div>
        <div class="gap"></div>
    </div>
</section><!--/#title-->

<section>
    <div class="gap"></div>
    <div class="container">

        <div class="col-sm-6">
            <h3>Ingredients</h3>
            <p>{{recipe.ingredients}}</p>
            <hr>
            <h3>Steps</h3>
            <p>{{recipe.steps}}</p>
            <hr>
            <!-- text area for comment -->
            <h3>Any Comments?</h3>
            <form>
                <textarea class="form-control" rows="3" placeholder="Write a comment..."></textarea>
                <br>
                <button type="button" class="btn btn-primary pull-right">Comment</button>
            </form>
        </div>
        <div id="comments" class="col-sm-6">
            <h3>Comments</h3>
            <div class="media">
                <div class="pull-left">
                    <img class="avatar img-circle" src="images/blog/avatar1.png" alt="">
                </div>
                <div class="media-body">
                    <div class="well">
                        <div class="media-heading">
                            <strong>john</strong>&nbsp; <small>27 Aug 2013</small>
                            <a class="pull-right" href="#"><span class="glyphicon glyphicon-repeat"></span> Reply</a>
                        </div>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    </div>
                </div>
            </div><!--/.media-->
            <div class="media">
                <div class="pull-left">
                    <img class="avatar img-circle" src="images/blog/avatar1.png" alt="">
                </div>
                <div class="media-body">
                    <div class="well">
                        <div class="media-heading">
                            <strong>{{recipe.author}}</strong>&nbsp; <small>27 Aug 2013</small>
                            <a class="pull-right" href="#"><span class="glyphicon glyphicon-repeat"></span> Reply</a>
                        </div>
                        <p><a href="#">@john</a> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    </div>
                </div>
            </div><!--/.media-->
        </div>

    </div>
    <div class="gap"></div>
</section>