<!-- Left-hand side navigation bar -->
<div class="col-sm-3 col-md-2 sidebar"> <!--ng-controller="SidebarController"-->
    <ul class="nav nav-sidebar">
        <li ng-class="{'active' : $location.url().indexOf('profile') != -1}"><a href="#/profile"><span class="glyphicon glyphicon-user"></span></a></li>
        <li ng-class="{'active' : $location.url().indexOf('/bookmark') != -1}"><a href="#/bookmark"><span class="glyphicon glyphicon-star"></span></a></li>
        <li ng-class="{'active' : $location.url().indexOf('/myrecipe') != -1}"><a href="#/myrecipe"><span class="glyphicon glyphicon-folder-close"></span></a></li>
        <li ng-class="{'active' : $location.url().indexOf('/friend') != -1}"><a href="#/friend"><span class="glyphicon glyphicons-group"></span></a></li>
        <li ng-class="{'active' : $location.url().indexOf('/message') != -1}"><a href="#/message"><span class="glyphicon glyphicon-envelope"></span></a></li>
    </ul>
</div>