<section id="title" class="clouds">
    <div class="container">
        <div class="gap"></div>
        <div class="row">
            <div class="col-sm-6">
                <h1>Users List</h1>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
        <div class="gap"></div>
    </div>
</section><!--/#title-->
<section>
    <div class="gap"></div>
    <div class="container">
        <table class="table table-striped table-bordered table-responsive">
            <thead>
            <tr>
                <th>User</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in userlistController.users">
                <td><a href="#/profile/{{user._id}}">{{user.email}}</a></td>
                <td>
                    <span ng-show="user.role=='R'">Register User</span>
                    <span ng-show="user.role=='C'">Contributor</span>
                    <span ng-show="user.role=='A'">Admin</span>
                </td>
                <td>
                    <button ng-click="userlistController.resetPassword(user)" class="btn btn-danger">Reset Password</button>

                    <button ng-show="user.role=='R'" ng-click="userlistController.upgrade(user)" type="button" class="btn btn-primary">Upgrade</button>
                    <button ng-show="user.role=='C'" ng-click="userlistController.downgrade(user)" type="button" class="btn btn-warning">Downgrade</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="gap"></div>
</section>
