<section id="title" class="emerald">
    <div class="container">
        <div class="gap"></div>
        <div class="row">
            <div class="col-sm-6">
                <h1>Meal Types</h1>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="#/">Home</a></li>
                    <li><a>Browse by..</a></li>
                    <li><a href="#/browse/mealtype">Meal Types</a></li>
                    <li class="active"><a ng-href="#/browse/mealtype/{{someMealTypeController.mealtype}}">{{someMealTypeController.mealtype}}</a></li>
                </ul>
            </div>
        </div>
        <div class="gap"></div>
    </div>
</section><!--/#title-->

<section>
    <div class="container">
        <div class="gap"></div>
        <div class="row">
            <div class="col-md-4 center">
                <a href="#/recipe" class="thumbnail">
                    <h5>{{mealtypes[0].title}}</h5>
                    <img src="images/slider/bg1.jpg" alt="{{mealtypes[0].title}}" style="width:150px;height:150px">
                </a>
            </div>
            <div class="col-md-4 center">
                <a href="#/recipe" class="thumbnail">
                    <h5>{{mealtypes[1].title}}</h5>
                    <img src="images/slider/bg2.jpg" alt="{{mealtypes[1].title}}" style="width:150px;height:150px">
                </a>
            </div>
            <div class="col-md-4 center">
                <a href="#/recipe" class="thumbnail">
                    <h5>{{mealtypes[2].title}}</h5>
                    <img src="images/slider/bg3.jpg" alt="{{mealtypes[2].title}}" style="width:150px;height:150px">
                </a>
            </div>
        </div>
        <div class="gap"></div>
    </div>
</section>