<section id="title" class="silver">
    <div class="container">
        <div class="gap"></div>
        <div class="row">
            <div class="col-sm-6">
                <h1>My Recipes</h1>
                <p>Here you can create new recipes and manage the recipes created by you.</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="#/">Home</a></li>
                    <li class="active">My Recipes</li>
                </ul>
            </div>
        </div>
        <div class="gap"></div>
    </div>
</section><!--/#title-->

<section> <!--main content -->
    <div class="container">
        <div class="col-sm-1 gap"></div>
        <div class="col-sm-10">
            <div class="gap"></div>
            <div>
                <ul class="nav nav-pills">
                    <li class="active"><a href="#/myrecipe/create">Create</a></li>
                    <li><a href="#/myrecipe/manage">Manage</a></li>
                </ul>

                <div class="tab-content">
                    <div class="gap"></div>
                    <div id="create" class="tab-pane fade in active">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="recipeTitle">Title:</label>
                                <input type="text" class="form-control" id="recipeTitle" placeholder="Recipe's Title">
                            </div>
                            <div class="form-group">
                                <img src="images/placeholder.png" width="150" height="150">
                                <button type="button" class="btn btn-primary glyphicon glyphicon-pencil"></button>
                            </div>
                            <div class="form-group">
                                <label for="prepTime">Prep Time:</label>
                                <input type="text" class="form-control bfh-number" id="prepTime" placeholder="30">
                                <select class="form-control">
                                    <option id="time_m">mins</option>
                                    <option id="time_h">hours</option>
                                </select>
                                <label for="servings">Servings:</label>
                                <input type="text" class="form-control bfh-number" id="servings" placeholder="2">
                            </div>
                            <div class="form-group">
                                <label for="style">Style tags:</label>
                                <input type="text" class="form-control" id="style" placeholder="style1,styl2,styl3">
                                <label for="mealtype">Meal type tags:</label>
                                <input type="text" class="form-control" id="mealtype" placeholder="mealtype1, mealtype2,mealtype3">
                            </div>
                            <div class="form-group">
                                <label for="ingredients">Ingredients:</label>
                                <textarea id="ingredients" class="form-control" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="steps">Steps:</label>
                                <textarea id="steps" class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-success pull-right">Create</button>
                        </form>
                    </div>

                    <div class="gap"></div>
                </div>

            </div>
            <div class="gap"></div>
        </div>
        <div class="col-sm-1 gap"></div>
    </div>

</section>