<header id="navHeader" class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner" ng-controller="HeaderController as headerController">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">RecipesCom</a>

        </div>
        <div class="col-md-3 col-sm-6 pull-right">
            <form class="nav navbar-nav navbar-form" role="search">
                <div class="input-group">
                    <input ng-model="headerController.searchKey" type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                    <div class="input-group-btn">
                        <button class="btn btn-success" ng-click="headerController.search()"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Browse by..<i class="icon-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/browse/style">Styles</a></li>
                        <li><a href="#/browse/mealtype">Meal Types</a></li>
                    </ul>
                </li>
                <!-- HIDE when user logged in -->
                <li class="dropdown" ng-hide = "headerController.isLoggedIn()">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <i class="icon-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/login">Sign in</a></li>
                        <li><a href="#/register">Sign up</a></li>
                    </ul>
                </li>
                <!-- HIDE when user is not logged in -->
                <li class="dropdown" ng-show = "headerController.isLoggedIn()">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-home">&nbsp;Username</span> <i class="icon-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a ng-href="#/profile/{{headerController.$rootScope.user._id}}"><span class="glyphicon glyphicon-user"></span>&nbsp;Profile</a></li>
                        <li><a href="#/bookmark"><span class="glyphicon glyphicon-star"></span>&nbsp;Bookmarks</a></li>
                        <!-- R and C user only "My Recipes"-->
                        <li><a href="#/myrecipe"><span class="glyphicon glyphicon-book"></span>&nbsp;My Recipes</a></li>
                        <li><a href="#/friend"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;Friends</a></li>
                        <li><a href="#/message"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Messages</a></li>
                        <li><a ng-click="headerController.logout()"><span class="glyphicon glyphicon-remove-sign"></span>&nbsp;Sign out</a></li>

                        <li ng-show="headerController.isAdmin()" class="dropdown-header">Admin Features:</li>
                        <li ng-show="headerController.isAdmin()"><a href="#/admin/userlist">Users List</a></li>
                        <li ng-show="headerController.isAdmin()"><a href="#/admin/contapp">Contributor Applications</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>

<!-- HEADER TEMPATE
<header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="icon-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="career.html">Career</a></li>
                        <li><a href="blog-item.html">Blog Single</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="404.html">404</a></li>
                        <li><a href="registration.html">Registration</a></li>
                        <li class="divider"></li>
                        <li><a href="privacy.html">Privacy Policy</a></li>
                        <li><a href="terms.html">Terms of Use</a></li>
                    </ul>
                </li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact-us.html">Contact</a></li>
            </ul>
        </div>
    </div>
</header>
-->