<section id="title" class="silver">
    <div class="container">
        <div class="gap"></div>
        <div class="row">
            <div class="col-sm-6">
                <h1>Recipe Management</h1>
                <p>Dear admin, you can view all the recipes in our database, update them or create new recipes.</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="#/">Home</a></li>
                    <li class="active">Recipe Management</li>
                </ul>
            </div>
        </div>
        <div class="gap"></div>
    </div>
</section><!--/#title-->

<section> <!--main content -->
    <div class="container">
        <div class="col-sm-1 gap"></div>
        <div class="col-sm-10">
            <div class="gap"></div>
            <div>
                <ul class="nav nav-pills">
                    <li class="active"><a href="#/admin/recipe/create">Create/Update</a></li>
                    <li><a href="#/admin/recipe/manage">Manage</a></li>
                </ul>

                <div class="tab-content">
                    <div class="gap"></div>
                    <div id="create" class="tab-pane fade in active">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="recipeTitle">Title:</label>
                                <input ng-model="recipeController.newRecipe.title" type="text" class="form-control" id="recipeTitle" placeholder="Recipe's Title">
                            </div>
                            <!--
                            <div class="form-group">
                                <img src="images/placeholder.png" width="150" height="150">
                                <button type="button" class="btn btn-primary glyphicon glyphicon-pencil"></button>
                            </div>
                            -->
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label for="prepTime">Prep Time:</label>
                                    <input ng-model="recipeController.newRecipe.time" type="text" class="form-control bfh-number" id="prepTime" placeholder="30">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <select ng-model="recipeController.newRecipe.unit" name="unitSelect" class="form-control">
                                        <option value="H">hour(s)</option>
                                        <option value="M">minute(s)</option>
                                        <option value="S">second(s)</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label for="servings">Servings:</label>
                                    <input ng-model="recipeController.newRecipe.servings" type="text" class="form-control bfh-number" id="servings" placeholder="2">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Style tags:</label>
                                <label ng-repeat="style in recipeController.styles">
                                    <input type="checkbox" checklist-model="recipeController.newRecipe.style" checklist-value="style"> {{style}}
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Meal type tags:</label>
                                <label ng-repeat="mealtype in recipeController.mealtypes">
                                    <input type="checkbox" checklist-model="recipeController.newRecipe.mealtype" checklist-value="mealtype"> {{mealtype}}
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="ingredients">Ingredients:</label>
                                <textarea id="ingredients" ng-model="recipeController.newRecipe.ingredients" class="form-control" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="steps">Steps:</label>
                                <textarea id="steps" ng-model="recipeController.newRecipe.steps" class="form-control" rows="3"></textarea>
                            </div>
                            <button ng-show="recipeController.createMode" ng-click="recipeController.create()" type="submit" class="btn btn-success pull-left">Create</button>
                            <button ng-hide="recipeController.createMode" ng-click="recipeController.update()" type="submit" class="btn btn-success pull-left">Update</button>
                        </form>
                    </div>

                    <div ng-show="recipeController.cannotCreateRecipe" class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Error</strong> Recipe creation/modification failed.
                    </div>

                    <div class="gap"></div>
                </div>

            </div>
            <div class="gap"></div>
        </div>
        <div class="col-sm-1 gap"></div>
    </div>

</section>