<section id="title" class="clouds">
    <div class="container">
        <div class="gap"></div>
        <div class="row">
            <div class="col-sm-6">
                <h1>Profile</h1>
                <small>Username</small>
            </div>
            <div class="col-sm-6">
                <img src="images/blog/avatar1.png" height="100" width="100">
                <button class="button btn btn-success" type="button">Friend me!</button>
            </div>
        </div>
        <div class="gap"></div>
    </div>
</section><!--/#title-->
<section>
    <div class="gap"></div>
    <div class="container">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 col-xs-12">
            <label>Username:</label> {{username}} <br>
            <label>Email:</label> {{email}}<br>
            <button class="btn btn-success" disabled="disabled">You're a contributor!</button>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="gap"></div>
</section>