<section id="title" class="clouds">
    <div class="container">
        <div class="gap"></div>
        <div class="row">
            <div class="col-sm-6">
                <h1>Profile</h1>
                <small>Username</small>
            </div>
            <div class="col-sm-6">
                <img src="../server/model/avatar.png" height="100" width="100">
                <button class="button btn btn-primary" type="submit">Edit</button>


            </div>
        </div>
        <div class="gap"></div>
    </div>
</section><!--/#title-->
<section>
    <div class="gap"></div>
    <div class="container">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 col-sm-12">
            <label>Username:</label> {{username}} <button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button> <br>
            <label>Password:</label> ******<button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button> <br>
            <label>Email:</label> {{email}}<button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button> <br>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="gap"></div>
</section>